<h1 id="arrow">Das Konzept</h1>
<hr class="one">
<div class="container">
  <h3>Um effizientes Lernen für jedermann zu ermöglichen, muss auf persönliche Präferenzen eingegangen werden...</h3>
  <p>Jeder gehört einem eigenen Lerntyp an, so manch anderer kann nur unter bestimmten Umständen lernen.
  Eine optimale Methode bietet hierbei das spielerische Lernen an. Alle Lerntypen können hierbei bestmöglich abgedeckt werden. Dazu kommt potentielle Freude an Lernen und der Ehrgeiz, ein Spiel erfolgreich abzuschließen. 
  Dementsprechend wurde als Aufgabenstellung für die Diplomarbeit eine Lernplattform genommen. Den Usern wird es ermöglicht, sich sowohl Zeit als auch Geld zu sparen, da sie überall lernen können und nicht extra zu Orten wie eine Nachhilfebörse fahren müssen. 
  Die Spiele sollen den Usern eine eigenständige Lernmöglichkeit bieten, um sich Gelerntes spielerisch aneignen zu können. Dies fördert die Eigenständigkeit sowie die Entdeckung der präferierten Lernmethodik.</p>
</div>
<br>
<button type="button" class="btn btn-primary btn-md" routerLink="/quiztypeinfo" routerLinkActive="active">Zu den Formularen</button>