<h1 class="glyphicon glyphicon-play">Quizübersicht</h1>

<div id="filter" >
    <label>Filter Quiz:</label>
    <label class="glyphicon glyphicon-zoom-in"></label>
    <input size="30"  [(ngModel)]="filter" placeholder="Suche..."/>
</div>
<br>
<hr class="one">

<div>    
    <table class="table">
        <thead>
            <tr>
                <th>
                    Titel
                </th>
                <th>
                    Fach
                </th>
                <th>
                    Typ
                </th>
                <th>
                    Multiplayer
                </th>
                <th>
                    Teilen
                </th>
                <th>
                    Information
                </th>
            </tr>

        </thead>
        <tbody>
            <template ngFor let-quiz [ngForOf]="quizes">
                    <tr *ngIf="filter===undefined || quiz.name.indexOf(filter)==0">
                        <td class="fontDesign">
                            <a routerLink="/switch/{{quiz.quiztype.id}}/{{quiz.id}}" routerLinkActive="active">{{quiz.name}}</a>
                        </td>
                        <td>
                            {{quiz.category.name}}
                        </td>
                        <td> 
                        <a routerLink="/quiztypeinfo" routerLinkActive="active"> {{quiz.quiztype.name}}</a>
                        </td>
                        <td>
                            <button id="buttonDesign"><a routerLink="/add-multiplay" routerLinkActive="active">+</a></button>
                        </td>
                        <td>
                            <button class="glyphicon glyphicon-share"><a routerLink="/home" routerLinkActive="active"></a></button>
                        </td>
                        <td>
                            <button type="button" class="btn-danger" (click)="openModal()">Info</button>
                            <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title">Information über Quiz {{quiz.name}}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>{{quiz.description}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
            </template>
        </tbody>
    </table>
</div>
 <router-outlet></router-outlet>