<div class="row">
    <div class="col-xs-3">{{content.input1}}</div>
    <div class="col-xs-9">
        <button class="button button4" [disabled]="isGivenUp||isCorrect||isDone||content.geloestVon != undefined" (click)="checkButtonRightContent()">Richtig</button>
        <button class="button button4" [disabled]="isGivenUp||isCorrect||isDone||content.geloestVon != undefined" (click)="checkButtonWrongContent()">Falsch</button>
        <label *ngIf="isWrong == true">Falsche Antwort!</label>
        <label *ngIf="isCorrect == true">Richtige Antwort!</label>
        {{content?.geloestVon}} <label *ngIf="content.geloestVon != undefined&&(!isCorrect||!isDone)">Die Anwort lautet:{{content.input2}}</label>
    </div>
    
</div>
