<h1>Willkommen zur Lerngruppe: {{multiplay?.name}}</h1>
<div id="game">
  <h2 id="header">{{contents[0].quiz.name}}</h2>
  <div id="memory_board">
      <table >
              <tr >
                  <td *ngFor="let content of row1;let i = index"><button item-width="100px"  item-height="100px"  (click)="showContent(0,i)"  id="card"><div *ngIf="checkBoolean(0,i)">{{content}}</div></button></td> <!-- (click)="myFunction()"-->
              </tr>
              <tr >
                  <td *ngFor="let content of row2;let i = index"><button (click)="showContent(1,i)" id="card"><div *ngIf="checkBoolean(1,i)">{{content}}</div></button></td>
              </tr>
              <tr >
                  <td *ngFor="let content of row3;let i = index"><button (click)="showContent(2,i)" id="card"><div *ngIf="checkBoolean(2,i)">{{content}}</div></button></td>
              </tr>
              <tr >
                  <td *ngFor="let content of row2;let i = index"><button (click)="showContent(1,i)" id="card"><div *ngIf="checkBoolean(2,i)">{{content}}</div></button></td>
              </tr>
              <tr >
                  <td *ngFor="let content of row3;let i = index"><button (click)="showContent(2,i)" id="card"><div *ngIf="checkBoolean(2,i)">{{content}}</div></button></td>
              </tr>
      </table>
  </div>
</div>

<div  id="chatArea">
        <div id="chatHeader1">Anzahl der Spieler {{numOfPerson}}</div>
        <div id="chatHeader1">Score {{score.points}}</div>
        <hr class="one">
        <div id="chatHeader">{{header}}</div>
        <div>
            <table class="table">
                    <tr *ngFor="let me of messages">
                    <td>{{me.name}}:</td> 
                    <td>{{me.message}}</td>
                </tr>
                </table>
        </div>
    </div>
    <input  id="text"  [(ngModel)]="sendMessage" type="text" name="name"/>  
    <button  id="button" (click)="send()"> Senden</button>


<router-outlet></router-outlet>