<h1 class="glyphicon glyphicon-play">Lerngruppenübersicht</h1>

<div id="filter" >
    <label>Filter Quiz:</label>
    <label class="glyphicon glyphicon-zoom-in"></label>
    <input size="30"  [(ngModel)]="filter" placeholder="Suche..."/>
</div>
<br>
<hr class="one">

<div>    
  <table class="table">
        <thead>
          <th>
              Gruppenname
          </th>
          <th>
              Quizname
          </th>
          <th>
              Quiztype
          </th>
          <th>
              Besitzer
          </th>
          <th>
              Teilnehmer
          </th>
        </thead>
        
        <tbody>
      <template ngFor let-multiplay [ngForOf]="multiplays">
          <tr>
              <td>
                  <a routerLink="/multiswitch/{{multiplay.quiz.quiztype.id}}/{{multiplay.quiz.id}}/{{multiplay.id}}" routerLinkActive="active">{{multiplay.name}}</a>
              </td>
              <td>
                  {{multiplay.quiz.name}}
              </td>
              <td>
                  {{multiplay.quiz.quiztype.name}}
              </td>
              <td>
                  {{multiplay.user.firstname}}
              </td>
              <td>
                  Not implemented now!
              </td>
          </tr>
      </template>
      <tr [hidden]="user == undefined" ><a routerLink="/add-multiplay" routerLinkActive="active">Neue Lerngruppe erstellen</a></tr>
  
    </tbody>
    </table>
</div>

<router-outlet></router-outlet>