<h1 align="center">Profil</h1>
<div>
 <form class="form" action="">
            <label>Benutzername</label>
            <input [(disabled)]="ReadOnly" [(ngModel)]="user.username" type="text" name="name"/>

            <label>Vorname</label>
            <input [(disabled)]="ReadOnly"  [(ngModel)]="user.firstname" type="text" name="fn"/>

            <label>Nachname</label>
            <input  [(disabled)]="ReadOnly"  [(ngModel)]="user.lastname" type="text" name="ln"/>

            <label>Geburtstag</label>
            <input [(disabled)]="ReadOnly"  [(ngModel)]="user.dateOfBirth" type="date" name="birth"/>

            <label>Geschlecht</label>
            <input [(disabled)]="ReadOnly"  [(ngModel)]="user.gender" type="text" name="gender"/>
        
            <label>E-mail</label>
            <input disabled="true"  [(ngModel)]="user.email" type="text" name="email"/>

            
            <label [hidden]="changenewP">Neues Passwort</label>
            <input [hidden]="changenewP" type="password" [(ngModel)]="newpassword" name="pass">

            <label [hidden]="changenewP">Neues Passwort bestätigen</label>
            <input [hidden]="changenewP" type="password" [(ngModel)]="retnewpassword" name="pass">

            <label [hidden]="ReadOnly">Passwort</label>

            <input [hidden]="ReadOnly" type="password" [(ngModel)]="passw" name="pass">

            <button [hidden]="ReadOnly"  (click)="changenewP = !changenewP">Passwort ändern</button>

            <button [hidden]="!ReadOnly"  (click)="edit()">Ändern</button>
            <button [hidden]="ReadOnly"  (click)="save()">Speichern</button>
            
            <button [hidden]="ReadOnly" (click)="cancel()">Abbrechen</button>
            
            <input [hidden]="ReadOnly"  [(ngModel)]="errorText" type="text" name="error"/>
        </form>
</div>