
<h1 [hidden]="hide" align="center">Neues Spiel erstellen</h1>
<h1 [hidden]="!hide" align="center">Du musst dich einloggen/registrieren damit du ein neues Spiel erstellen kannst!</h1>
<div [hidden]="hide">
 <form class="form" action="">
            <label>Titel</label>
            <input [(ngModel)]="newQuiz.name" type="text" name="name"/>

            <label>Fach</label>
            <select [(ngModel)]="newQuiz.category" name="category">
               <option *ngFor="let cat of categories" [ngValue]="cat">
                    {{cat.name}}
                </option>
            </select>

            <label for="age">Beschreibung</label>
            <input  [(ngModel)]="newQuiz.description" type="text" name="descrip">

            <label>Quiz Typ</label>
             <select [(ngModel)]="newQuiz.quizType" name="quiz">
               <option *ngFor="let quiza of quizTypes" [ngValue]="quiza">
                    {{quiza.name}}
                </option>
            </select>

            <label for="age">Altersempfehlung</label>
            <input  [(ngModel)]="newQuiz.age" type="number" min="0" max="99" name="age">

            <button type="button" (click)="addQuiz()" routerLink="/addquizcontent" routerLinkActive="active">Weiter</button>
            
        </form>
</div>

