<h1 class="glyphicon glyphicon-play">Teilen</h1>

<div id="filter" >
    <label>Filter User:</label>
    <label class="glyphicon glyphicon-zoom-in"></label>
    <input size="30"  [(ngModel)]="filter" placeholder="Suche..."/>
</div>
<br>
<hr class="one">

<h2>Quiz "{{shareQuiz.quiz.name}}" teilen mit ...</h2>
<table class="table" [hidden]="login">
  <thead>
    <th>
        Name
    </th>
    <th>
        Email
    </th>
  </thead>
  
  <tbody>
    <tr *ngFor="let u of reguser;let i = index" >
        <td *ngIf="(filter===undefined || u.firstname.toUpperCase().indexOf(filter.toUpperCase())==0)&& this.user.id != u.id">
           {{u.firstname}} {{u.lastname}}
        </td>
        <td *ngIf="(filter===undefined || u.firstname.toUpperCase().indexOf(filter.toUpperCase())==0)&& this.user.id != u.id">
            {{u.email}}
        </td>
        <td *ngIf="(filter===undefined || u.firstname.toUpperCase().indexOf(filter.toUpperCase())==0)&& this.user.id != u.id">
           <button  (click)="share(i)">Teilen</button>
        </td>
    </tr>

</tbody>
</table>
