<h1 class="glyphicon glyphicon-play">Mailbox</h1>
<hr class="one">
<button id="sharedQuizBtn" (click)="isShared=true">Geteilte Quiz</button>
<button id="changeDescBtn" (click)="isShared=false"> Änderungsvorschläge</button>

<div id="MailContent">
    <table class="table" [hidden]="isShared">
        <thead >
            <tr>
                <th>
                    Username
                </th>
                <th>
                    Email
                </th>
                <th>
                    Quiz
                </th>
                <th>
                    Grund
                </th>
                <th>
                    Vorschlag
                </th>
            </tr>
    
        </thead>
        <tbody>
                    <tr *ngFor="let tip of tips;let i=index">
                        <td>
                           {{tip.user1.username}}
                        </td>
                        <td>
                            {{tip.user1.email}}
                        </td>
                        <td> 
                            {{tip.quiz.name}}
                        </td>
                        <td>
                            <button (click)="openModal(1,i)">Grund anzeigen</button>
                        </td>
                        <td>
                            <button (click)="openModal(2,i)">Änderungsvorschlag anzeigen</button>
                        </td>
                        <td>
                            <button (click)="use(i)" >Vorschlag übernehmen</button>
                        </td>
                        <td>
                            <button (click)="delete()">Löschen</button>
                        </td>
                    </tr>
        </tbody>
    </table>

    <table class="table" [hidden]="!isShared">
        <thead>
            <tr>
                <th>
                    Username
                </th>
                <th>
                    Email
                </th>
                <th>
                    Quiz
                </th>
                <th>
                    Fach
                </th>
                <th>
                    Typ
                </th>
                <th>
                    Information
                </th>
            </tr>
    
        </thead>
        <tbody>
                    <tr *ngFor="let share of shared; let i = index">
                        <td>
                           {{share.user1.username}}
                        </td>
                        <td>
                            {{share.user1.email}}
                        </td>
                        <td> 
                            <a routerLink="/switch/{{share.quiz.quiztype.id}}/{{share.quiz.id}}" routerLinkActive="active">{{share.quiz.name}}</a>
                            
                        </td>
                        <td>
                                {{share.quiz.category.name}}
                        </td>
                        <td>
                                {{share.quiz.quiztype.name}}
                        </td>
                        <td>
                            <button type="button" class="btn-danger" (click)="openModal(0,i)">Info</button>                         
                        </td>
                        <td>
                            <button (click)="delete()">Löschen</button>
                        </td>
                    </tr>
        </tbody>
    </table>
</div>

<body>
        <div class="backdrop" [ngStyle]="{'display':display}"></div>
        <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{header}}</h4>
              </div>
              <div class="modal-body">
                <p>{{content}}</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="onCloseHandled()">Schließen</button>
              </div>
            </div>
          </div>
        </div>
        
        </body>


<router-outlet></router-outlet>