<h1 class="glyphicon glyphicon-play">Mailbox</h1>
<hr class="one">
<button id="sharedQuizBtn">Geteilte Quiz</button>
<button id="changeDescBtn"> Änderungsvorschläge</button>

<div id="MailContent">
    <table class="table" [hidden]="!isShared">
        <thead>
            <tr>
                <th>
                    Username
                </th>
                <th>
                    Email
                </th>
                <th>
                    Quiz
                </th>
                <th>
                    Grund
                </th>
                <th>
                    Vorschlag
                </th>
            </tr>
    
        </thead>
        <tbody>
                    <tr *ngFor="let tip of tips">
                        <td>
                           {{tip.user1.username}}
                        </td>
                        <td>
                            {{tip.user1.email}}
                        </td>
                        <td> 
                            {{tip.quiz.name}}
                        </td>
                        <td>
                            <button (click)="use()" >Grund anzeigen</button>
                        </td>
                        <td>
                            <button (click)="delete()">Änderungsvorschlag anzeigen</button>
                        </td>
                        <td>
                            <button (click)="use()" >Vorschlag übernehmen</button>
                        </td>
                        <td>
                            <button (click)="delete()">Löschen</button>
                        </td>
                    </tr>
        </tbody>
    </table>

    <table class="table" [hidden]="isShared">
        <thead>
            <tr>
                <th>
                    Username
                </th>
                <th>
                    Email
                </th>
                <th>
                    Quiz
                </th>
                <th>
                    Fach
                </th>
                <th>
                    Typ
                </th>
                <th>
                    Information
                </th>
            </tr>
    
        </thead>
        <tbody>
                    <tr *ngFor="let share of shared">
                        <td>
                           Sussi
                        </td>
                        <td>
                            s@test.com
                        </td>
                        <td> 
                            <a routerLink="/switch/{{share.quiz.quiztype.id}}/{{share.quiz.id}}" routerLinkActive="active">Dass/s</a>
                            
                        </td>
                        <td>
                            Deutsch
                        </td>
                        <td>
                            QandA
                        </td>
                        <td>
                            <button type="button" class="btn-danger" (click)="openModal(quiz.id)">Info</button>
                            <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title">Information über Quiz {{quizname}}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>{{quizdescription}}</p>
                                        </div>
                                        <button routerLink="/describe/{{quiz.id}}" routerLinkActive="active">Änderungsvorschlag schicken</button>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <button (click)="delete()">Löschen</button>
                        </td>
                    </tr>
        </tbody>
    </table>
</div>
