<h1>Informationen über die Quiztypen</h1>
<div class="container">
    <h2>Q and A</h2>
    <p>Auch genannt "Frage und Antwort". Dem Spieler wird ein Formlar vorgelegt, das Fragen und Eingabefelder beeinhaltet. 
        Letztere dienen zur Eingabe der vermuteten Lösung der Frage. 
        Schafft es der Spieler, die Fragen richtig zu beantworten, erhält er Punkte.
        Schafft er es nicht, werden ihm Punkte abgezogen.
        Wichtig: Die Fragen werden einzeln abgearbeitet!</p>
    <hr/>
    <h2>Cloze</h2>
    <p>Zu Deutsch "Lückentext". Wie der Name bereits schließen lässt, wird ein Text angezeigt, der Eingabefelder für die vermuteten 
      Lösungen beinhaltet. Schafft es der Spieler, die Fragen richtig zu beantworten, erhält er Punkte.
      Schafft er es nicht, werden ihm Punkte abgezogen.
    </p>
    <hr/>
    <h2>Right or Wrong</h2>
    <p>"Richtig oder Falsch". Fragen beziehungsweise Aussagen werden angezeigt, die der Spieler als richtig oder falsch werten muss. 
      Hierbei muss auf den passenden Button geklickt werden. (Richtig, wenn man glaubt, dass die Aussage richtig ist; Falsch, wenn man glaubt,
      diese sei falsch). Schafft es der Spieler, die Fragen richtig zu beantworten, erhält er Punkte.
      Schafft er es nicht, werden ihm Punkte abgezogen.
    </p>
    <h2>Memory</h2>
    <p>Das Formlar Memory funktioniert wie die traditionelle Variante: Der Spieler klickt auf zwei ausgewählte Karten, sodass diese sich öffnen.
      Liegt er richtig, erhält er Punkte, liegt er falsch, muss das passende Kärtchen gefunden werden.
       Hierbei gilt: Achtung, Zeit!
    </p>
    <h2>Multichoice</h2>
    <p>Hierbei hat man mehrere Antwortmöglichkeiten zur Verfügung. Der Ersteller kann ebenfalls mehrere richtige Antworten angeben.
      Grundsätzlich gilt die geglaubten richtigen Antworten "anzukreuzen", also ein Häckchen in die Box durch ein Klicken zu geben.
      Bei richtiger Antwort gibt es Punkte, bei falschen werden Punkte abgezogen.
    </p>
</div>
<br/>
<button type="button" class="btn btn-primary btn-md" routerLink="/quizoverview/0/0" routerLinkActive="active">Zurück zur Übersicht</button>