<h1>Die Entwickler</h1>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
              <div class="card">
            <img src="assets/images/jasmin.png">
            <div class="container">
              <h4><b>Jasmin Metwalli</b></h4> 
              <p>Backend & Multiplayer</p> 
              <p class="fa fa-facebook-square"> jasmin.metwalli</p>
              <br>
              <p class="glyphicon glyphicon-envelope"> jasminmetwalli@gmail.com</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
             <div class="card">
            <img src="assets/images/stefanie.png">
            <div class="container">
              <h4><b>Stefanie Schmidt</b></h4> 
              <p>Frontend & Singleplayer</p> 
              <p class="fa fa-instagram"> quiethist</p>
              <br>
              <p class="glyphicon glyphicon-envelope"> steffi1711.schmidt@gmail.com</p>
            </div>
          </div>
        </div>
    </div>
</div>