<div class="row">
        <div class="col-xs-3" class="format"><b>Frage:</b> {{content.input1}}</div>
        <div class="col-xs-9">
            <input class="format2" size="40" [(disabled)]="isCorrect||isDone" [(ngModel)]="guessedContent" [style.backgroundColor]="isCorrect==true?'#97ff7a':isWrong==true?'#fc6146':isGivenUp?'#e0d1ce':isDone?'#ed5676':''" />
            <button [disabled]="isGivenUp||isCorrect||isDone" (click)="checkContent()">Check</button>
            <button class="button button4" [disabled]="isGivenUp||isCorrect||isDone" (click)="giveUp()">Aufgeben</button>
            <label  *ngIf="mistakes>0">Fehlversuche: {{mistakes}} </label>  {{content?.geloestVon}}
        </div>
</div>
    